<div class="row">
  <h1>Monate Café</h1>
  <p>Where Coffee tastes like Coffee</p>
  <h2>Administration Section</h2>
  <br>
  <h3 class="green">Enough Waiters</h3>
   <h3 class="orange">In need of Waiters</h3>
    <h3 class="red">Overbooked Waiters for the specified day</h3>
  {{!-- <div class="rstMessage"> --}}
    <h1 class="success"> {{messages.success}}</h1>


  {{!-- </div> --}}

  {{!-- <h1>{{this.username}}</h1> --}}
   <table style="width:100%" class="tables">
    <thead>
    <tr>
       {{#each sevenNights}} 
      <th> {{this.days}}</th>
    </tr>
    
       
    </thead>
  <tbody>
      <tr>

     <td style="color: {{this.color}};">
         {{#each this.waiters}}
       <li>
       {{this.waiters_names}}  
        {{!-- <a href="/resetPer"><button class="btn"><i class="fa fa-close"></i>{{data}}</button></a> --}}
       </li>
         
       
      {{/each}}
         </td>
    </tr>
      {{/each}}
  </tbody>
  
  
  </table>





 {{!-- <table style="width:100%" class="tables">
  <thead>
    <tr>
     {{#each sevenNights}}
     <th>{{this.days}}</th>
     {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each this.waiters}}
      <td>
        <ul>
          {{#each this.waiters}}
          <li>
            {{this.waiters_names}}
          </li>
          {{/each}}
        </ul>

      </td>
      {{/each}}
    </tr>
  </tbody>
</table>  --}}



  <a href="/reset"><button class="resetBtn" on type="button" name="button">Clear List</button></a>
  {{!-- <a href="/index"><button class="hometBtn" on type="button" name="button">Homepage</button></a> --}}

</div>





