<div class="row">
  <h1>Monate Café</h1>
  <p>Where Coffee tastes like Coffee</p>
  <h2>Administration Section</h2>
  <br>
  <h3 class="green">Enough Waiters</h3>
   <h3 class="orange">In need of Waiters</h3>
    <h3 class="red">Overbooked Waiters for the specified day</h3>
  {{!-- <div class="rstMessage"> --}}
    <br>
    <h1 class="success"> {{messages.success}}</h1>

   <table style="width:100%" class="tables">
   
    <tr>
       {{#each sevenNights}} 
      <th  style="background-color: {{this.color}};"> {{this.days}}</th>
      {{/each}}
    </tr>
      <tr>
 {{#each sevenNights}} 
     <td  style="color: {{this.color}}">
         {{#each this.waiters}}
       <ul>
       {{this.waiters_names}}  
       </ul>
      {{/each}}
         </td>
         {{/each}}
    </tr>
  
  
  
  </table>
<br>
  <a href="/reset"><button class="resetBtn" on type="button" name="button">Clear List</button></a>
</div>

<script>
  setTimeout(function() {
    document.querySelector('.success').innerHTML = "";
  }, 3000);
</script>



