<div class="row">
    <h1>Monate Café</h1>
    <p>Where Coffee tastes like Coffee</p>

    <h2>Employee Section</h2>


    <br>

<h3>Please Enter Your Name On The URL</h3>


    <div class="notification">

    </div>

        <h2 class="success"> {{messages.success}}</h2>
        <h2 class="error">{{messages.error}}</h2>
 


    <form action="/waiter/{{username}}" method="POST">


{{#each sevenDays}}

         <input type="checkbox" value="{{this.days}}"  {{checked}} class="check"  name="checks" >
        <span class="check" > {{this.days}} </span>
    
        {{/each}}
        
        <br>
        <br>
        <br>
        <a href=""><button type="submit" class="subButn">Submit</button></a>

    </form>
 
    <br>
    <br>
    <hr>


    <h1>{{username}}</h1>
  

</div>


<script>
  setTimeout(function() {
    document.querySelector('.success').innerHTML = ""; 
    document.querySelector('.error').innerHTML = "";
   

  }, 3000);
</script>

